header {
  margin-bottom: $m-size;
  border-bottom: 1px dashed $black;
  padding-bottom: $s-size;
}

.page-title {
  color: $dark-gray;
  text-decoration: none;
  font-weight: bold;

  h3 {
    margin: 0;
  }
}
