// Colors
$light-gray: #eeeeee;
$dark-gray: darken($light-gray, 60%);
$black: #000000;
$highlight: navajowhite;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 8rem;

// Buttons
$button-border: 1px solid $black;

// Type
$heading:26px;
